<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6db3fb">  <td>22/06/03 14:12:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AdminLoginTest.setup()[pri:0, instance:qa.automation.com.coposit.test.AdminLoginTest@7b8233cd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@582300198</td>   <td></td> </tr>
<tr bgcolor="a6a669">  <td>22/06/03 14:12:41</td>   <td>567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;classBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:qa.automation.com.coposit.test.AdminLoginTest@7b8233cd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@582300198</td>   <td></td> </tr>
<tr bgcolor="6db3fb">  <td>22/06/03 14:12:41</td>   <td>635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminLoginTest.AdminLogin()[pri:4, instance:qa.automation.com.coposit.test.AdminLoginTest@7b8233cd]">AdminLogin</td> 
  <td>main@582300198</td>   <td></td> </tr>
<tr bgcolor="a6a669">  <td>22/06/03 14:12:42</td>   <td>1937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;classBase.afterMethod(org.testng.ITestResult)[pri:0, instance:qa.automation.com.coposit.test.AdminLoginTest@7b8233cd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@582300198</td>   <td></td> </tr>
</table>
