<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71bb88">  <td>22/06/03 13:43:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminLoginTest.AdminLogin()[pri:4, instance:qa.automation.com.coposit.test.AdminLoginTest@895e367]">AdminLogin</td> 
  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="98d0b5">  <td>22/06/03 13:43:13</td>   <td>-826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnquiryNowTest.EnquiryNow()[pri:3, instance:qa.automation.com.coposit.test.EnquiryNowTest@463fd068]">EnquiryNow</td> 
  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="79aab0">  <td>22/06/03 13:43:08</td>   <td>-5606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Login()[pri:1, instance:qa.automation.com.coposit.test.LoginTest@1130520d]">Login</td> 
  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="ea88a1">  <td>22/06/03 13:43:10</td>   <td>-3257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;classBase.afterMethod(org.testng.ITestResult)[pri:0, instance:qa.automation.com.coposit.test.LoginTest@1130520d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="ea88a1">  <td>22/06/03 13:43:12</td>   <td>-859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;classBase.afterMethod(org.testng.ITestResult)[pri:0, instance:qa.automation.com.coposit.test.PropertyListTest@5f77d0f9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="ea88a1">  <td>22/06/03 13:43:14</td>   <td>886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;classBase.afterMethod(org.testng.ITestResult)[pri:0, instance:qa.automation.com.coposit.test.AdminLoginTest@895e367]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="ea88a1">  <td>22/06/03 13:43:08</td>   <td>-5678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;classBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:qa.automation.com.coposit.test.LoginTest@1130520d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="ea88a1">  <td>22/06/03 13:43:10</td>   <td>-3040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;classBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:qa.automation.com.coposit.test.PropertyListTest@5f77d0f9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="ea88a1">  <td>22/06/03 13:43:13</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;classBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:qa.automation.com.coposit.test.AdminLoginTest@895e367]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="bb6fa2">  <td>22/06/03 13:43:10</td>   <td>-3038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyListTest.propertylist()[pri:2, instance:qa.automation.com.coposit.test.PropertyListTest@5f77d0f9]">propertylist</td> 
  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="71bb88">  <td>22/06/03 13:43:07</td>   <td>-6269</td> <td>&nbsp;</td><td title="&gt;&gt;AdminLoginTest.setup()[pri:0, instance:qa.automation.com.coposit.test.AdminLoginTest@895e367]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="98d0b5">  <td>22/06/03 13:43:08</td>   <td>-5768</td> <td>&nbsp;</td><td title="&gt;&gt;EnquiryNowTest.setup()[pri:0, instance:qa.automation.com.coposit.test.EnquiryNowTest@463fd068]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="79aab0">  <td>22/06/03 13:43:08</td>   <td>-5738</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:qa.automation.com.coposit.test.LoginTest@1130520d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
<tr bgcolor="bb6fa2">  <td>22/06/03 13:43:08</td>   <td>-5710</td> <td>&nbsp;</td><td title="&gt;&gt;PropertyListTest.setup()[pri:0, instance:qa.automation.com.coposit.test.PropertyListTest@5f77d0f9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@462039519</td>   <td></td> </tr>
</table>
